@model IEnumerable<MobileStore.Models.Phone>
@{
    ViewData["Title"] = "Սմարթֆոնների կատալոգ";
}

<h3>Սմարթֆոններ</h3>
<table class="table-condensed">
    <tr>
        <td>Մոդել</td>
        <td>Արտադրող</td>
        <td>Գին</td>
        <td></td>
    </tr>
    @foreach (var phone in Model)
    {
        <tr>
            <td>@phone.Name</td>
            <td>@phone.Company</td>
            <td>@phone.Price</td>
            <td><a href="~/Home/Buy/@phone.Id">Գնել</a></td>
        </tr>
    }

</table>